/**
 * @name Chillax
 * @author Chillax Squad
 * @authorLink https://github.com/warrayquipsome/Chillax#author
 * @version 0.9.3
 * @invite DrfX6286kF
 * @description stress doesn't really goes with your fit, try out chillax you wont regret it.
 * @source https://github.com/warrayquipsome/Chillax
 * @donate https://www.paypal.me/wqqt9
*/

/* This is a Stardust edit of the original; By @AilurusHush */

/*
     ⸙  ────     ────     ───── ❝ 𝐚𝐥𝐥 𝐫𝐢𝐠𝐡𝐭 𝐡𝐞𝐫𝐞 ❞ ─────    ────     ────  ⸙
  ╭─ ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ -ˋˏ ༻🂡༺ ˎˊ- ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ ─╮
         █████╗   ██╗  ██╗  ██╗  ██╗      ██╗       █████╗   ██╗  ██╗       
        ██╔══██╗  ██║  ██║  ██║  ██║      ██║      ██╔══██╗  ╚██╗██╔╝       
        ██║  ╚═╝  ███████║  ██║  ██║      ██║      ███████║   ╚███╔╝      ||
        ██║  ██╗  ██╔══██║  ██║  ██║      ██║      ██╔══██║   ██╔██╗        
        ╚█████╔╝  ██║  ██║  ██║  ███████╗ ███████╗ ██║  ██║  ██╔╝╚██╗       
         ╚════╝   ╚═╝  ╚═╝  ╚═╝  ╚══════╝ ╚══════╝ ╚═╝  ╚═╝  ╚═╝  ╚═╝       
  ╰─ ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ -ˋˏ ༻-༺ ˎˊ- ━━━━━━━━━ ━━━━━━━ ━━━━━━━━━ ─╯

*/

/* test test test */

/* chillax source */
@import url('https://warrayquipsome.github.io/Chillax/chillax.css');

/* More Fonts */
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');


/* ---------------------------------------------------------------------------- */

/* removable addons */
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');
@import url('https://nyri4.github.io/Discolored/main.css');
@import url("https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");

/* additional addons */   /* can test here */
@import url("https://warrayquipsome.github.io/Chillax/Addons/SimpleLessLag.css");


/* ---------------------------------------------------------------------------- */

/* Chillax Roots */
:root{
/*background image*/ /*(replace the link to use)*/
  --background-image: var(--wallpaper);
/*bg dev suggestions*/
  --wallpaper: url('https://images6.alphacoders.com/129/1290982.png');
}

/*roots*/ /**/
:root {
  --user-name: "Traveler";
  --font-name: Neucha;
  --font-size: 30px;

/*glow radial status*/ /*must end in px*/
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-small-width: 2.5px; 
  --rs-medium-width: 3.5px; 
  --rs-large-width: 4.5px; 
  --rs-avatar-shape: 50%;
  --rs-online-color: #3dff5d9f;
  --rs-idle-color: #f3ab25e7;
  --rs-dnd-color: #e61818a2;
  --rs-offline-color: #5c7691;
  --rs-streaming-color: #6c2ed6;
  --rs-invisible-color: #5c7691;
  --rs-phone-visible:block;
  --rs-phone-color:var(--rs-online-color);


/*chillax colours rgb*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
  --accentcolor:	  rgb(255, 0, 0);	
/*chillax colours hex*/ /* Google RGB Picker: https://g.co/kgs/NoY83h */
  --accentcolorV2:     #abcdef69; /* changes new reply tag-bar left of messages, forum post emoji reactions, and buttons when streaming */
   
  
/*settings modal root*/
  --themedarksettingsmodalbackground: #00000000; /* flash of color before the settings modal appears */
  --settingsmodalwidth: 850px;
  --settingsmodalheight: 90vh;	
}


/*discord transparency*//*roots*/ /*theme dark*/
  .theme-dark {
  --background-message-hover: #abcdef13; /* hovering over posted message boxes */
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #9d9d9d;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #abcdef00; /* changes channel title area, top header area, message chatbar & forum hub posts */
  --background-secondary: #00000000; /* changes bg of channel area, memberlist area, bg of folders, dm area */
  --background-tertiary: #abcdef42; /* changes forum tags and DM search bar */
  --background-accent: #abcdef42; /* hilight for forum post shortcut when forum search is selected */
  --activity-card-background: #00000000; /*idk*/
  --deprecated-panel-background: #00000000; /*idk*/
}


/*window*/ /*dark mode*/
:root.theme-dark {
  --window-margin: 20px; /*must be above 20px*/
  --window-colour: #00000000; /* serverbar shadow */
  --window-blur: 3px; /* serverbar blur */
  --window-border-radius: 8px; /* rounded corners of the top layer window */
  --sidebar-colour: #00000030; /* sidebar color of the settings modal,  .sidebarRegionScroller__1fa7e  */
}

/* main content area of the the settings modal */
.contentRegion__0bec1, .contentRegionScroller__86c79 {
  background: #00000011
}

/* ---------------------------------------------------------------------------- */

/* Mark unread replies highlight based on accent color - currently not working, not sure how to fix */
.link__2e8e1:has(.highlighted__7bba7) {
  border-left: 2px solid rgba(var(--accentcolor), 1);
  background: linear-gradient(
    90deg,
    rgba(var(--accentcolor), 1),
    rgba(var(--accentcolor), 1),
    transparent
  );
}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */

/* top layer bg */
.content__4bf10,
.layer_ec16dd,
.standardSidebarView__1129a {
  background: var(--background-image);
}

/* ---------------------------------------------------------------------------- */


/* option for bg opacity of back layer window, seethrough edges, */
/* .bg__12180{background: #0000008c;} */


/* ---------------------------------------------------------------------------- */


/* bg color/opacity for sections of the front layer */
/* bg color for serverbar area */
.wrapper_a7e7a8.guilds__2b93a {
  background: #00234710;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
/* bg color for channel list area */
.scroller_f0f183 {
  background: #0023475d;
  margin-bottom: 213px;
  background-color: transparent;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
/* bg color for center chat area */
.chatContent__5dca8 {
  background: #00244777;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
/* bg color for center area of forum hub, grid mode */
.grid__36f14 {
  background: #00244777;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
/* bg color for center area of forum hub, list mode */
.list__5ced9 {
  background: #00244777;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
/* bg color for memberlist area, non hover*/
.membersWrap__90226 {
  background: #00234777;
  bottom: 0%;
  border-top-right-radius: 15px !important;
}
/* bg color for dm list */
.privateChannels__93473 {
  background: #00244777;
  margin-bottom: 213px;
  background-color: transparent;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

/* ---------------------------------------------------------------------------- */

/*chatbox recolour*/
.input-2g-os5,
.scrollableContainer__33e06{
  background-color: transparent!important;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  outline: none;
  box-shadow: 1px 3px 3px #00000030;
}
.placeholder_e68c63.slateTextArea__0661c.fontSize16Padding__48818{
  color: transparent!important;
}
.theme-dark .input-2g-os5:hover,
.theme-dark .scrollableContainer__33e06:hover {
  background-color: #abcdef13!important; /* hovering over chatbox bar */
  box-shadow: 1px 3px 3px #00000070;
}
.theme-dark .input-2g-os5:focus-within,
.theme-dark .scrollableContainer__33e06:focus-within {
  background-color: #abcdef42!important;
  box-shadow: 1px 3px 3px #00000070;
}
.message__80c10 {
  border-radius: 8px !important;
}
.mentioned__58017  {
  border-radius: 0 8px 8px 0!important
}
/*Textbox Text*/
.theme-dark .placeholder_e68c63 {
  visibility: hidden !important;
}
.theme-dark .placeholder_e68c63::before {
  content: "Remember to Breathe";
  color: #ffffff50;
  font-family: "Macondo Swash Caps";
  font-size: 30px;
  visibility: visible !important;
}

/* ---------------------------------------------------------------------------- */

/*custom group title font*/
.input__321f5 {
  overflow: visible !important;
  font-family: "Macondo Swash Caps" !important;
  font-weight: 200!important;
  font-size: 25px;
  letter-spacing: 0.2px;
}

/* ---------------------------------------------------------------------------- */



/* bg of individual member tags */
.member_b44d5d {
  background: #00000000;
}


/*friends grid banner colour*/
.theme-dark{
--FG-cards-banner-background: transparent!important;
}
.theme-light{
--FG-cards-banner-background: transparent!important;
} 


/* Make the member list expand on top of the chat instead of shifting it sideways */
.members-3WRCEx {
  margin-left: 0px;
  background-color: #ff0000;
  transition: 0.5s ease;
}
.members-3WRCEx:hover {
  margin-left: -175px;
  background-color: #ff0000;
}


/* Make the list fill the window height */
.membersWrap-3NUR2t:hover {
  height: 10%;
}


/* Make the typing indicator text inside channels/DM's match your accent color */
.typing__6fd1d strong:last-child::after {
  color: rgba(var(--accentcolor), 1);
}
.typing__6fd1d strong:nth-last-child()::after {
  color: rgba(var(--accentcolor), 1);
}
.typing__6fd1d strong {
  color: rgba(var(--accentcolor), 1);
}
.typing__6fd1d strong:nth-last-child(2)::after {
  color: rgba(var(--accentcolor), 1);
}
.typingDots_d92d42 > svg > g > circle {
  color: rgba(var(--accentcolor), 1);
}

/* ---------------------------------------------------------------------------- */
/* Set the typing indicator dots inside the avatar for the DM list to the color of their online status */
div[class*="wrapper_edb6e0"][aria-label*="Streaming"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] > g > circle {
    color: var(--rs-streaming-color);
}
div[class*="wrapper_edb6e0"][aria-label*="Do Not Disturb"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] > g > circle {
  color: var(--rs-dnd-color);
}
div[class*="wrapper_edb6e0"][aria-label*="Offline"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] > g > circle {
  color: var(--rs-offline-color);
}
div[class*="wrapper_edb6e0"][aria-label*="Idle"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] > g > circle {
  color: var(--rs-idle-color);
}
div[class*="wrapper_edb6e0"][aria-label*="Online"] > svg[class="mask__1979f svg_f5b652"] > svg[class="cursorDefault_e4f616"] > svg[class="dots_a97068"] > g > circle {
  color: var(--rs-online-color);
}

/* Color the status text in the status changer popout */
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--online"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-online-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--idle"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-idle-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--dnd"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-dnd-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--invisible"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-invisible-color);
}


/* ---------------------------------------------------------------------------- */

/* status and activty area quick css fix*/
/* status picker round border */
div[class="item__183e8 colorDefault__0b482 focused__27621"] {
  border-radius: 5px;
}
/* status picker text align center */
div.statusItem__72404 {
  align-content: center;
  grid-template-rows: none !important;
}
/* Fix the status changer popout */
div[class="submenu_acf564 menu_dc52c6"] {
  backdrop-filter: blur(25px);
}

/* Optionally remove the separator from the submenu (also removes from other sub menus as well) */
/* Comment out to add the separator back to sub menus. */
.separator__18122 {
  display: none;
}
.description_ea6680 {
  display: none;
}

/* ---------------------------------------------------------------------------- */

/* activity icon opacity */
.panels__58331 > .container_ca50b9 .flex_f5fbb7 > :not(:last-child) {
    opacity: 50% !important; /* quick fix for always visible mute/deafen icons */
}


/* quick fix activity toggles area on vencord */
.avatarWrapper_ba5175 {
  background-color: transparent; /* small square bg around avatar icon */
  min-width: 40px !important; /* hide text to move the settings icon into view */
}
.avatarWrapper_ba5175:hover {
  background: #00000000 !important; /* bg when hover over avatar icon */
  min-width: 205px !important; /* no lower than 205, pushes activity icons over to show name */
}
.panels__58331 > .container_ca50b9 .flex_f5fbb7 > :not(:last-child) {
  background-color: transparent; /* little bg squares around the mute/deafen buttons */
  width: 38px !important; /* spacing of icons */
}
.theme-dark .panels__58331 > .container_ca50b9:hover .flex_f5fbb7 > :not(:last-child) {
  background-color: transparent; /* hover vers of little bg squares */
  margin-left: 0px !important;
}

/*floating user controls*/
.theme-dark .panels__58331 {
  background: #ff8800; /*idk*/
  background-color: #ff8800; /*idk*/
  box-shadow: 1px 3px 3px #00000070; /* shadow for whole ass box */
  border-radius: 10px;
  margin: 0px 11px 21px; /* moves whole box around */
  position: absolute;
}

/* background of floating user bar */
.nameTag__0e320.canCopy__81263 {
  background-color: transparent;
}
.nameTag__0e320.canCopy__81263:hover {
  background-color: transparent;
}



/* top third section of bg, like when streaming */
.theme-dark .panel_bd8c76 {
  background: transparent;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom: none !important;
}
/* middle third section of bg, when in vc */
.container_d667ff{
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  background: #00000000 !important;
  color: transparent !important;
}
/* bottom third section of bg, always shown */
.container_ca50b9 {
  background: #00000000; /* bg of activity bar */
  border-radius: 5px; /* you can also change it if you want */
}

/* bg of all 3 activity panel sections */
.theme-dark .panels__58331 {
  background: #12345678 !important;
  backdrop-filter: blur(1px) !important; /* bg blur of all sections */
}



/* button design for activity area and other buttons */
.theme-dark .lookFilled__19298 {
  border-radius: 45px;
  background: #abcdef42 !important;
  color: #ffffff !important;
  box-shadow: 3px 3px 10px #00000011;
  font-family: "Roboto";
  font-size: 12px;
  transition: 0.2s;
}
.theme-dark .lookFilled__19298:hover {
  box-shadow: 3px 3px 10px #00000033;
  background: #abcdef80 !important;
  transition: 0.1s;
}
/* color of active sharescreen buttons */
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7, .button__66e8c.buttonColor_a6eb73.buttonActive__407a7 {
  background-color: #abcdefed !important;
  color: var(--white-500);
}



/* ---------------------------------------------------------------------------- */

/* fix for unread messages glitch */
/* remove date divider */
.hasContent__8519e {
  display: none;
}
/* Un-hide unread divider with date */
.isUnread__6f880 {
  display: flex !important;
}
/* Hide date in unread divider */
.content_d67847 {
  display: none;
}

/* ---------------------------------------------------------------------------- */

/* Hide filler message bottom of channel sidebar */
.theme-dark .content__23cab:after {
  color: #00000000 !important;
  text-shadow: none !important;
}





/* base bg of servers and dm in serverbar */
.childWrapper__01b9c {
  background: #abcdef42 !important;
 }
 /* bg of icons without pics in serverbar */
.wrapper_d281dd {
  background: #abcdef42;
 }
/* bg of selected server or dm in serverbar plus hover color */
.selected_f5ec8e {
  background: #abcdef;
 }


/* ---------------------------------------------------------------------------- */
/* colored links */
/* YouTube */
[href*="youtu.be"],
[href*="youtube.com"] {
  color: #30a9d9 !important;
  font-size: 20px;
}
/* Twitch */
[href*="twitch.tv"] {
  color: #b700ff !important;
}
/* Discord */
[href*="discord.com/channels/"] {
  color: #7289da !important;
}
[href*="discord.com/channels/"]::before {
  color: #603cff;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"],
[href*="discord.com/"],
[href*="media.discordapp.net/"],
[href*="cdn.discordapp.com/"] {
  color: #7289da !important;
}
/* Twitter */
[href*="twitter.com/"] {
  color: #00acee !important;
}
/* GitHub */
[href*="github.com"] {
  color: #00f0a8 !important;
}
/* Imgur */
[href*="i.imgur.com"] {
  color: #89c623 !important;
}
/* Steam */
[href*="store.steampowered.com"],
[href*="https://s.team"],
[href*="steamcommunity.com/"] {
  color: #1b2838 !important;
}
/* Spotify */
[href*="spotify.com"],
[href*="open.spotify.com"] {
  color: #13b94a !important;
}
/* SoundCloud */
[href*="soundcloud.com"] {
  color: #ff5500 !important;
}

/* ---------------------------------------------------------------------------- */

/*custom unread style*/
.unreadPillCap__96b8d {
  display: none;
  right: 50%;
}
.unreadPill__715fc {
  background-color: var(--background-shading);
  color: #abcdef; /* color of the 'NEW' text */
  font-size: 16px;
  letter-spacing: 20px;
  right: 50%;
  left: 50%;
  width: 1px;
}
.isUnread__6f880 {
  --divider-color: #ff0000; /* not sure what divider this changes */
  border: none;
  
  /* the divider color */
  background: linear-gradient(
    90deg,
    #abcdef 0%,
    #0066ff 25%,
    #ffffff00 50%,
    #0066ff 75%,
    #abcdef 100%
  );
  height: 2px;
}
.unreadPill__715fc {
  top: -5px; /* changes the height of where new text sits */
}

/* new unread button in channel list */
.bar__004d9 {
  margin-bottom: 225px;
  background: #123456;
  padding: 5px 20px;
  box-shadow: 0px 2px 3px #00000085;
}
.bar__004d9:hover {
  margin-bottom: 225px;
  background: #204060;
}

/* ---------------------------------------------------------------------------- */


/*custom channel and text area font and size*/
.channelName-3KPsGw {
  font-family: "Macondo Swash Caps";
  font-size: var(--font-size) !important;
}
.messageContent__21e69,
.contents_f41bb2 {
  font-family: var(--font-name);
  font-size: var(--font-size) !important;
}



/* ---------------------------------------------------------------------------- */

/* Replace Wandering Cubes Spinner/loading discord image with gif*/
span[class="inner-26JK4f"]:after {
  background-image: url("https://cdn.pixabay.com/animation/2023/10/08/03/19/03-19-26-213_512.gif");
  background-size: cover;
  display: inline-block;
  width: 32px;
  height: 32px;
  content: "h";
}
span[class="inner-26JK4f"] > * {
  display: none;
}

/* ---------------------------------------------------------------------------- */

/* user typing... but its edited*/
.dots-1BwzZQ {
  margin-right: 10px;
}
.base__512ed .text_ca54e9 {
    display:flex;
    align-items:center;
}
.typing__6fd1d {
    font-size: 0px;
}
.typing__6fd1d strong {
    font-size: 15px;
}
.typing__6fd1d strong:after {
    content:'+';
    color: #abcdef;
    font-size: 15px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 5px;
}
.typing__6fd1d strong:nth-last-child(2)::after {
    content:'+';
    color: #abcdef;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 5px;
}
.typing__6fd1d strong:last-child::after {
    content:'are forming their thoughts~';
    color: #abcdef;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 5px;
}
.typing__6fd1d strong:nth-last-child()::after {
    content:'are smashing some buttons';
    color: #ff0000;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 5px;
}

.wrapperControlsHidden__143af, .videoControls__96149{
  color: #ff0000;
  margin-bottom: 0px;
}

/* ---------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------- */

/*better mark as read button*/

@keyframes pop {
  from {
    transform: translateY(30px);
    opacity: 0.4;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.newMessagesBar__8b6d7.barBase__4e0ba {
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
  justify-self: flex-end !important;
  position: absolute !important;
  z-index: 30px;
  bottom: 30px;
  right: 30px;
  padding: 3px 10px !important; /* shape of the mark as read button */
  width: 30px;
  height: 30px;
  background-color: #abcdef80; /* color of button */
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  animation: pop 0.2s ease-in;
  transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
}
.newMessagesBar__8b6d7.barBase__4e0ba:hover {
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
  justify-self: flex-end !important;
  position: absolute !important;
  z-index: 30px;
  bottom: 30px;
  right: 30px;
  padding: 3px 10px !important; /* shape of the mark as read button */
  width: 30px;
  height: 30px;
  background-color: #0066ff80; /* color of button on hover */
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  animation: pop 0.2s ease-in;
  transition: font-size 0s, color 0.2s 0.1s, padding 0.4s, width 0.1s 50ms;
}
.newMessagesBar__8b6d7.barBase__4e0ba > button {
  font-size: 0px;
  color: transparent !important;
}
.newMessagesBar__8b6d7.barBase__4e0ba:hover > button {
  font-size: 0px;
  color: #e100ff !important;
}
.barButtonIcon__907ef {
  order: -1;
  margin: 0;
  margin-right: 0;
  margin-left: 6.5px;
  transition: all 0.2s;
  color: #ffffff !important; /* color of button icon */
}
.newMessagesBar__8b6d7.barBase__4e0ba:hover .barButtonIcon__907ef {
  margin-right: 30px;
  margin-left: 7px;
  margin-bottom: 0px;
}
.barButtonBase__8fa46 {
  padding: 0px;
}
.barButtonMain__0f5c6,
.barButtonMain__0f5c6 * {
  display: none !important;
  background-color: #00ff00 !important;
}
/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
  display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: var(--accentcolorV2);
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size 0.2s 0.1s, color 0.2s, padding 0.4s 0.1s;
}
[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #ffffff;
  transition: margin 0.6s;
}
[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #ffffff;
  transition: font-size 0.2s, color 0.2s 0.1s, padding 0.4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}*/

/* ---------------------------------------------------------------------------- */

/* not sure what this changes */
.item__183e8.labelContainer_bc2861.colorDefault__0b482:not(.colorBrand__471df) > .label__73cb9
.text-xs-medium__220aa.soundName__35f8b,
.eyebrow_e5a66c.defaultColor__87d87.sectionTitle__8df35.app_de4237
.item__183e8.labelContainer_bc2861.colorDefault__0b482:not(.colorBrand__471df) {
  color: #ff0000 !important;
}
/* or this either */
#bd-pub-li {
  display: none;
}

/* ---------------------------------------------------------------------------- */

/* bg image glitch of user info area */
.accountProfilePopoutWrapper_af829a {
  position: relative;
  left: 0%;
}
/* fixed bg image glitch of emojipicker */
.positionLayer__50609.expressionPickerPositionLayer__2061e.theme-dark.layer_ec16dd {
  background: transparent;
}
/* tooltip bg color */
.tooltipContent__79a2d {
  background-color: transparent;
}

/* ---------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------- */

/*Permissions*/
/*
-You do not have the rights to use our theme name Chillax™ on other projects 
-You do not have the rights to remove our theme watermark in the theme
-You do not have the rights to change this theme author name to anyone
*/
     
/*credits*/
/*
========================= Chillax Squad =========================
 Wq                                       Author
 Demented_Elmo                            Co-Author
=================================================================
 Embeds                                   by Alexis WyvernZu
 Active Now CSS                           by Cedrick
 Memberlist until hover                   by Cedrick
 Hide User Buttons until Hover            by Commie Axolotl
 Center profile badge, avatar and name    by Commie Axolotl
 Account Details Grid                     by Dablulite
 Blurple recolour                         by DevilBro
 Emoji Replace                            by DevilBro
 Settings Icons                           by DevilBro
 Connection Issue Let Me Be               by Disease
 Radial Status                            by Gibbu
 About Me Clamp                           by ItMeSarah
 Better Jump to Present Button            by Lonk
 Better Mark As Read Button               by Lonk
 IconPack                                 by Lavender
 Discolored                               by Nyri4
 Better Spotify Control                   by Uri
=================================================================
*/
/*I really want to give a special shoutout to all of you for supporting me in this theme, thank you all.*/

